<h1>About TuDo</h1>
<p>The word for "everything" in Portugese is Tudo. This to-do list app is a way to remember everything you need to do, so you can get more done.</p>
<h2>A Bit About the Project</h2>
<ul>
	<li>It's built with Ruby on Rails, Bootstrap and Devise by <a href="http://thelucasmoore.com">Lucas Moore</a></li>
	<li>Inspired and guided by <a href="http://stuk.io">Stuk.io</a></li>
</ul>