<div class="jumbotron">
<h1>Get Yo Life</h1>
<p>You've got things to get done. Write them down here. This is a Ruby on Rails Application written by <a href="http://thelucasmoore.com">Lucas Moore</a></p>
<%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>
</div>